frontend/dist
frontend/node_modules
frontend/.next
frontend/out/
frontend/build
frontend/.DS_Store
frontend/next-env.d.ts
frontend/*.tsbuildinfo
frontend/coverage
frontend/.env
frontend/.env*.local

frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

superbackend/dist
superbackend/node_modules
superbackend/coverage
superbackend/.env
superbackend/.env*.local

backend/dist
backend/node_modules
backend/coverage
backend/.env
backend/.env*.local
